@import 'variables';

.error {
  margin-top: 150px;
  font-family: 'SF Pro Text';
  font-weight: 700;
  color: $red;
  font-size: 200px;
  text-align: center;
}

.error-desc {
  font-family: 'SF Pro Text';
  font-weight: 700;
  color: $dark-grey;
  font-size: 24px;
  text-align: center;
}

.error-back {
  margin-top: 60px;
  font-family: 'SF Pro Text';
  font-weight: 700;
  color: $red;
  font-size: 16px;
  text-align: center;

  //see .button @ 'variables'

  &:hover > a {
    box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.4);
  }
}
