$colorBackground: #aaaaaa;

$colorInoui: #b41446;

$colorTrainLightGrey: #dddddd;
$colorTrainDarkGrey: #202020;
$colorTrainBlue: #0000ff;
$colorTrainGreen: #00ff00;
$colorTrainWindow: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(255,255,255,.4) 100%);
$colorTrainDisplayBg: #101010;
$colorTrainDisplayColor: orange;