.move-left {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 50vw;
  height: 300px;
  margin-top: 70px;
  cursor: w-resize;

  &:hover ~ .dynamic-elements {
    transform: rotateY(0deg) translateX(3700px) translateY(0);
  }
}

.move-right {
  position: absolute;
  z-index: 100000;
  right: 0;
  top: 0;
  width: 50vw;
  height: 300px;
  margin-top: 70px;
  cursor: e-resize;

  &:hover ~ .dynamic-elements {
    transform: rotateY(0deg) translateX(-3700px) translateY(0);
  }
}