body {
  background-color: $colorBackground;
  overflow: hidden;
  margin: 0;

  section.view {
    position: relative;
    perspective: 800px;
    margin: 200px auto;

    .dynamic-elements {
      height: 5px;
      width: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-style: preserve-3d;
      /* mano modifs */
      transform: rotateY(57deg) translateX(3500px) rotateZ(-1deg);
      
      &.animation {
        animation-name: rotateTrain;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @keyframes rotateTrain {
          50% {
            transform: rotateY(90deg) translateY(200px);
          }

          100% {
            transform: rotateY(30deg) translateY(0);
          }
        }
      }
    }
  }
}