@import 'variables';

body {
  background-color: $colorBackground;

  section.view {
    position: relative;
    perspective: 800px;
    margin: 200px auto;

    .train {
      height: 5px;
      width: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-style: preserve-3d;
      display: flex;
      /* mano modifs */
      transform: rotateY(36deg) translate(500px);
      
      &.animation {
        animation-name: rotateTrain;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes rotateTrain {
          100% {
            transform: rotateY(-360deg);
          }
        }
      }

      section[class^="couch-"] {
        width: 780px;
        height: 170px;
        transform-style: preserve-3d;

        &.couch-2 {
          transform: translateX(-720px);
        }

        &.couch-3 {
          transform: translateX(0);
        }

        &.couch-4 {
          transform: translateX(720px);
        }

        &.couch-5 {
          transform: translateX(1440px);
        }

        div[class^="face-"] {
          position: absolute;
          left: -360px;
          top: -80px;
          transform-style: preserve-3d;
          background: $colorTrainLightGrey;
        }

        div[class^="face-ns-"] {
          width: 720px;
          height: 160px;
          border-left: solid 5px $colorTrainDarkGrey;
          border-right: solid 5px $colorTrainDarkGrey;

          .upper-floor {
            width: 100%;
            height: 60px;
          }

          .lower-floor {
            width: 100%;
            height: 60px;
            background: $colorTrainDarkGrey;
            border-top: solid 5px $colorInoui;

            .class {
              vertical-align: top;
              position: relative;
              display: inline-block;
              width: 30px;
              margin: 0 10px;
              text-align: center;
              font-size: 30px;
              font-family: sans-serif;
              font-weight: 900;
              color: white;

              .display {
                background-color: $colorTrainDisplayBg;
                border-radius: 5px;
                width: 30px;
                height: 10px;
                font-size: 4px;
                padding: 2px;
                margin-top: 10px;
                text-align: left;
                overflow: hidden;
                color: $colorTrainDisplayColor;

                .sliding-text {
                  width: 100px;
                  margin-left: calc(100% + 10px);

                  &.animation {
                    animation-name: slideText;
                    animation-duration: 7s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;

                    @keyframes slideText {
                      100% {
                        margin-left: calc(-200% - 40px);
                      }
                    }
                  }
                }
              }
            }
          }

          .window {
            display: inline-block;
            margin: 25px 10px auto 10px;
            height: 30px;
            width: 60px;
            border-radius: 5px;
            background: $colorTrainWindow;
            
            &.small {
              width: 30px;
            }
          }

          .grid {
            display: inline-block;
            margin: 25px 10px auto 10px;
            height: 30px;
            width: 84px;
            border-radius: 5px;
            border: solid 1px black;

            &.small {
              width: 30px;
            }
          }

          .door {
            position: absolute;
            left: 580px;
            border: solid 2px $colorTrainLightGrey;
            bottom: 0;
            height: 98px;
            width: 50px;
            background: $colorTrainDoor;

            .door-window {
              height: 40px;
              width: 20px;
              margin-top: 20px;
              margin-left: 10px;
              border-radius: 5px;
              background: $colorTrainWindow;
            }
          }
        }

        .face-ns-1 {
          transform: rotateY(0) translateZ(50px);
        }

        .face-ns-2 {
          transform: rotateY(180deg) translateZ(50px);
        }

        div[class^="face-eo-"] {
          width: 100px;
          height: 160px;
          background-color: $colorTrainDarkGrey;
        }

        .face-eo-1 {
          transform: rotateY(90deg) translateZ(680px);
        }

        .face-eo-2 {
          transform: rotateY(-90deg) translateZ(50px);
        }
      }
    }
  }
}