.train {
  display: flex;

  section[class^="couch-"] {
    width: 780px;
    height: 160px;
    transform-style: preserve-3d;
    will-change: transform;

    &.couch-0 {
      transform: translateX(calc(720px * -5));
    }

    &.couch-1 {
      transform: translateX(calc(720px * -4));
    }

    &.couch-2 {
      transform: translateX(calc(720px * -3));
    }

    &.couch-3 {
      transform: translateX(calc(720px * -2));
    }

    &.couch-4 {
      transform: translateX(calc(720px * -1));
    }
    
    &.couch-5 {
      transform: translateX(calc(720px * 0));
    }

    &.couch-6 {
      transform: translateX(calc(720px * 1));
    }

    &.couch-7 {
      transform: translateX(calc(720px * 2));
    }

    &.couch-8 {
      transform: translateX(calc(720px * 3));
    }

    &.couch-9 {
      transform: translateX(calc(720px * 4));
    }

    &.couch-10 {
      transform: translateX(calc(720px * 5));
    }

    div[class^="face-"] {
      position: absolute;
      left: -360px;
      top: -80px;
      transform-style: preserve-3d;
    }

    div[class^="face-ns-"] {
      width: 720px;
      height: 160px;

      .roof-top {
        position: absolute;
        top: -130px;
        left: 0;
        height: 40px;
        width: 720px;
        background: var(--colorTrainRoof);
        will-change: transform;
        transform: rotateX(80deg) translateZ(-113px) translateY(-14px);

        &.engine {
          width: 470px;
        }
      }

      .upper-floor {
        width: 100%;
        height: 60px;
        background: var(--colorTrainLightGrey);
        border-right: solid 5px var(--colorTrainDarkGrey);
        will-change: transform;
        transform: rotateX(10deg) translateZ(-10px);

        &.bar {
          display: flex;
          justify-content: center;
          align-content: center;
        }

        &.engine {
          width: 450px;
          border: none;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -100px;
            width: 200px;
            height: 60px;
            background-color: var(--colorTrainLightGrey);
            will-change: transform;
            transform: skew(60deg);
            border-radius: 0 40px;
          }
        }
      }

      .lower-floor {
        width: 100%;
        height: 60px;
        background: var(--colorTrainDarkGrey);
        border-top: solid 5px var(--colorInoui);

        .class {
          vertical-align: top;
          position: relative;
          display: inline-block;
          width: 30px;
          margin: 0 10px;
          text-align: center;
          font-size: 30px;
          font-family: sans-serif;
          font-weight: 900;
          color: white;

          &.bar {
            margin: 10px 570px;
          }

          .display {
            background-color: var(--colorTrainDisplayBg);
            border-radius: 5px;
            width: 30px;
            height: 10px;
            font-size: 4px;
            padding: 2px;
            margin-top: 10px;
            text-align: left;
            overflow: hidden;
            color: var(--colorTrainDisplayColor);

            .sliding-text {
              width: 100px;
            }
          }
        }

        &.engine {
          width: 550px;

          &::after {
            content: '';
            position: absolute;
            top: 59px;
            right: 64px;
            width: 200px;
            height: 70px;
            background-color: var(--colorTrainLightGrey);
            will-change: transform;
            transform: skew(60deg);
            border-radius: 0 0 100px 0;
          }
        }
      }

      .under-floor {
        width: 100%;
        height: 40px;
        background: var(--colorTrainLightGrey);
        border-right: solid 5px var(--colorTrainDarkGrey);
        will-change: transform;
        transform: rotateX(-10deg) translateZ(-10px);

        &.engine {
          width: 550px;
          border-right: none;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -95px;
            width: 200px;
            height: 40px;
            background-color: var(--colorTrainLightGrey);
            will-change: transform;
            transform: skew(-60deg);
            border-radius: 100px 100px 100px 0;
          }
        }
      }

      .window {
        display: inline-block;
        margin: 25px 10px auto 10px;
        height: 30px;
        width: 60px;
        border-radius: 5px;
        background: var(--colorTrainWindow);
        
        &.small {
          width: 30px;
        }
      }

      .grid {
        display: inline-block;
        margin: 25px 10px auto 10px;
        height: 30px;
        width: 84px;
        border-radius: 5px;
        border: solid 1px black;

        &.small {
          width: 30px;
        }
      }

      .behind-door {
        position: absolute;
        height: 98px;
        width: 50px;
        border: solid 2px var(--colorTrainLightGrey);
        bottom: 0;
        left: 580px;
        background: var(--colorTrainDarkGrey);
      }

      .door {
        will-change: transform;
        position: absolute;
        left: 582px;
        bottom: 0;
        height: 100px;
        width: 50px;
        background: var(--colorTrainDoor);

        .door-window {
          height: 40px;
          width: 20px;
          margin-top: 20px;
          margin-left: 10px;
          border-radius: 5px;
          background: var(--colorTrainWindow);
        }
      }

      .shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 720px;
        height: 120px;
        background: var(--colorTrainShadow);
        will-change: transform;
        transform: rotateX(-90deg) skew(-60deg);
        transform-origin: bottom;
        opacity: .5;
        border-radius: 30px 30px 0 0;

        &.engine {
          width: 550px;
          border-radius: 50px 400px 50px 50px / 25px 150px 25px 25px;
        }
        
        &.returned {
          transform: rotateX(-90deg) skew(60deg) scaleX(-1);
          border-radius: 400px 50px 50px 50px / 150px 25px 25px 25px;
        }
      }
    }

    .inoui {
      position: absolute;
      top: 70px;
      right: 130px;
      width: 100px;

      &.returned {
        will-change: transform;
        transform: scaleX(-1);
      }
    }

    .face-ns-1 {
      will-change: transform;
      transform: rotateY(0) translateZ(50px);

      &.returned {
        transform: scaleX(-1) translateZ(50px);
      }
    }

    .face-ns-2 {
      will-change: transform;
      transform: rotateY(180deg) translateZ(50px);

      &.returned {
        transform: scaleZ(-1) translateZ(50px);
      }
    }

    .face-1-e {
      width: 90px;
      height: 200px;
      background: var(--colorTrainDarkGrey);
      border-left: solid 5px var(--colorInoui);
      border-right: solid 5px var(--colorInoui);
      will-change: transform;
      transform-origin: top;
      transform: rotateZ(62deg) rotateY(90deg) translateZ(90px) translateY(-180px);
      border-radius: 60px 60px 0px 0px / 300px 300px 0px 0px;

      &.returned {
        transform: rotateZ(-62deg) rotateY(-90deg) translateZ(-200px) translateY(380px);
      }

      .top-light {
        position: absolute;
        top: 30px;
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--colorTrainFrontLight);

        &.back {
          background: var(--colorTrainBackLight);
        }
      }

      .bottom-lights {
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        top: 177px;
        left: calc(50% - 60px);

        &.front div {
          margin: 0 20px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: var(--colorTrainFrontLight);
        }

        &.back div {
          margin: 0 20px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: var(--colorTrainBackLight);
        }
      }

      .window {
        position: absolute;
        top: 70px;
        left: calc(50% - 30px);
        width: 60px;
        height: 80px;
        margin: auto;
        background: var(--colorTrainWindow);
      }
    }

    .face-2-e {
      width: 90px;
      height: 50px;
      background: var(--colorTrainDarkGrey);
      border-left: solid 5px var(--colorInoui);
      border-right: solid 5px var(--colorInoui);
      will-change: transform;
      transform-origin: top;
      transform: rotateZ(40deg) rotateY(90deg) translateZ(76px) translateY(50px);
      border-radius: 0px 0px 40px 40px;

      &.returned {
        transform: rotateZ(-40deg) rotateY(-90deg) translateZ(-401px) translateY(458px);
      }
    }

    .pantograph {
      position: absolute;
      top: -200px;
      left: -200px;

      &.returned {
        left: 200px;
      }

      .lower-part {
        width: 40px;
        height: 60px;
        border: solid 5px var(--colorTrainPantograph);
        will-change: transform;
        transform: rotateY(90deg) rotateX(45deg) translateY(-18px);
      }

      .upper-part {
        width: 40px;
        height: 60px;
        border: solid 5px var(--colorTrainPantograph);
        will-change: transform;
        transform: rotateY(90deg) rotateX(-45deg)translateY(18px);
      }
    }
  }
}