.train {
  display: flex;

  section[class^="couch-"] {
    width: 780px;
    height: 160px;
    transform-style: preserve-3d;

    &.couch-0 {
      transform: translateX(calc(720px * -5));
    }

    &.couch-1 {
      transform: translateX(calc(720px * -4));
    }

    &.couch-2 {
      transform: translateX(calc(720px * -3));
    }

    &.couch-3 {
      transform: translateX(calc(720px * -2));
    }

    &.couch-4 {
      transform: translateX(calc(720px * -1));
    }
    
    &.couch-5 {
      transform: translateX(calc(720px * 0));
    }

    &.couch-6 {
      transform: translateX(calc(720px * 1));
    }

    &.couch-7 {
      transform: translateX(calc(720px * 2));
    }

    &.couch-8 {
      transform: translateX(calc(720px * 3));
    }

    &.couch-9 {
      transform: translateX(calc(720px * 4));
    }

    &.couch-10 {
      transform: translateX(calc(720px * 5));
    }

    div[class^="face-"] {
      position: absolute;
      left: -360px;
      top: -80px;
      transform-style: preserve-3d;
    }

    div[class^="face-ns-"] {
      width: 720px;
      height: 160px;

      &.engine {
        background-color: $colorTrainWhite;
        overflow: hidden;

        &.engine-eo-1 {
          border-radius: 0 400px 200px 0 / 0 140px 40px 25px;
          border-right: solid 5px $colorInoui;
        }

        &.engine-eo-2 {
          border-radius: 400px 0px 0px 200px / 140px 0px 0px 40px;
          border-right: solid 5px $colorInoui;
        }

        .upper-grid-paint {
          width: 200px;
          height: 5px;
          margin-top: 60px;
          background-color: $colorInoui;
        }
          
        .grid-engine {
          width: 500px;
          height: 60px;
          background-color: $colorTrainDarkGrey;
        }

        .grey-polygon {
          position: absolute;
          top: 0;
          left: 0;
          height: 160px;
          width: 300px;
          z-index: -1;

          .rectangle {
            position: absolute;
            top: 0;
            left: 0;
            height: 160px;
            width: 100px;
            background-color: $colorTrainLightGrey;
          }

          .skewed {
            position: absolute;
            top: 0;
            left: 0;
            height: 160px;
            width: 300px;
            background-color: $colorTrainLightGrey;
            transform: skew(45deg);
          }
        }

        .logo {
          position: absolute;
          bottom: 40px;
          right: 100px;
          z-index: 10;
          width: 100px;
          height: 40px;
          background: url('../img/logo.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .roof-top {
        position: absolute;
        top: -130px;
        left: 0;
        height: 40px;
        width: 720px;
        background: $colorTrainRoof;
        transform: rotateX(80deg) translateZ(-113px) translateY(-14px);
      }

      .upper-floor {
        width: 100%;
        height: 60px;
        background: $colorTrainLightGrey;
        border-right: solid 5px $colorTrainDarkGrey;
        transform: rotateX(10deg) translateZ(-10px);

        &.bar {
          display: flex;
          justify-content: center;
          align-content: center;
        }
      }

      .lower-floor {
        width: 100%;
        height: 60px;
        background: $colorTrainDarkGrey;
        border-top: solid 5px $colorInoui;

        .class {
          vertical-align: top;
          position: relative;
          display: inline-block;
          width: 30px;
          margin: 0 10px;
          text-align: center;
          font-size: 30px;
          font-family: sans-serif;
          font-weight: 900;
          color: white;

          &.bar {
            margin: 10px 570px;
          }

          .display {
            background-color: $colorTrainDisplayBg;
            border-radius: 5px;
            width: 30px;
            height: 10px;
            font-size: 4px;
            padding: 2px;
            margin-top: 10px;
            text-align: left;
            overflow: hidden;
            color: $colorTrainDisplayColor;

            .sliding-text {
              width: 100px;
              margin-left: calc(100% + 10px);

              &.animation {
                animation-name: slideText;
                animation-duration: 7s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                @keyframes slideText {
                  100% {
                    margin-left: calc(-200% - 40px);
                  }
                }
              }
            }
          }
        }
      }

      .under-floor {
        width: 100%;
        height: 40px;
        background: $colorTrainLightGrey;
        border-right: solid 5px $colorTrainDarkGrey;
        transform: rotateX(-10deg) translateZ(-10px);
      }

      .window {
        display: inline-block;
        margin: 25px 10px auto 10px;
        height: 30px;
        width: 60px;
        border-radius: 5px;
        background: $colorTrainWindow;
        
        &.small {
          width: 30px;
        }
      }

      .grid {
        display: inline-block;
        margin: 25px 10px auto 10px;
        height: 30px;
        width: 84px;
        border-radius: 5px;
        border: solid 1px black;

        &.small {
          width: 30px;
        }
      }

      .behind-door {
        position: absolute;
        height: 98px;
        width: 50px;
        border: solid 2px $colorTrainLightGrey;
        bottom: 0;
        left: 580px;
        background: $colorTrainDarkGrey;
      }

      .door {
        will-change: transform;
        position: absolute;
        left: 582px;
        bottom: 0;
        height: 100px;
        width: 50px;
        background: $colorTrainDoor;

        &.animation {
          animation-name: doorToggle;
          animation-duration: 2s;
          animation-timing-function: ease-in-out;
          animation-direction: alternate;
          animation-iteration-count: infinite;

          @keyframes doorToggle {
            100% {
              transform: translateX(50px) translateZ(2px);
            }
          }
        }

        .door-window {
          height: 40px;
          width: 20px;
          margin-top: 20px;
          margin-left: 10px;
          border-radius: 5px;
          background: $colorTrainWindow;
        }
      }

      .shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 720px;
        height: 120px;
        background-color: $colorTrainShadow;
        transform: rotateX(-90deg) skew(-60deg);
        transform-origin: bottom;
        opacity: .5;
        border-radius: 30px 30px 0 0;
      }
    }

    .face-ns-1 {
      transform: rotateY(0) translateZ(50px);
    }

    .face-ns-2 {
      transform: rotateY(180deg) translateZ(50px);
    }

    div[class^="face-eo-"] {
      width: 100px;
      height: 160px;
    }

    .face-eo-1 {
      transform: rotateY(90deg) translateZ(680px);
    }

    .face-eo-2 {
      transform: rotateY(-90deg) translateZ(50px);
    }
  }
}